input[type="text"]{
    width: 200px;
}
input[type="number"]{
    width: 200px;
}
input[type="submit"]{
    width: 90px;
    height: 30px;
    font-weight: bold;
}
input[type="reset"]{
    width: 90px;
    height: 30px;
    font-weight: bold;
}
input[type="password"]{
    width: 200px;
}
input[type="email"]{
    width: 200px;
}
form{
    border: 1px solid white;
    width: 500px;
    margin: auto;
}
td:first-child{
    text-align: right;
    font-weight: bold;
}
td{
    padding: 10px;
}